@using SunCare.Models;
@using SunCare.Repository;
@foreach (NewPatient eachPatient in Model)
{
    <div>
        <a class="removeA" href="@Url.Action("CaseEachInfo","Home",new { patientID=RegularFunction.encrypt(eachPatient.PatientID.ToString())})">
            <div class="eachCasePatient @(eachPatient.Gender==1?"boyBackground":"girlBackground")" gender="@eachPatient.Gender">
                <img src="@(eachPatient.Gender==1?"/Images/icon_Male.png":"/Images/icon_Female.png")" />
                <div>@eachPatient.CaseID</div>
                <div>@eachPatient.Name</div>
                <img id="abnormalImg" src="/Images/icon_Abn.png" style="@(eachPatient.Abnormal==1?"":"visibility: hidden;")" />
            </div>
        </a>
    </div>
}
